/* .theme_toggler {
  background: var(--primary-color);
  z-index: 999999999;
  left: 10px;
  background: var(--primary-color);
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 10px;
} 

.theme_toggler svg {
  width: 2em;
  height: 2em;
}
*/
.thementoggle-button {
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
  font-size: 1.5rem;
  border-radius: 10%;
}

.thementoggle-button:hover {
  background-color: rgb(141, 140, 140);
}
